<div class="card announce">
  <div class="card-header">
    <h3 class="card-title announce__title">Statistics</h3>
  </div>
  <div class="card-body">
    <ul class="announce-statistic">
      <li>
        <img src="../../../assets/images/list_style.png" alt="list_style" width="15px"/>
        <span class="announce-statistic__number">65</span> posts
        <ul>
          <li><span>Lorem ipsum dolor sit down</span></li>
          <li><span>Lorem ipsum dolor sit down</span></li>
          <li><span>Lorem ipsum dolor sit down</span></li>
        </ul>
      </li>
      <li>
        <img src="../../../assets/images/list_style.png" alt="list_style" width="15px"/>
        <span class="announce-statistic__number">50</span> members
        <div>
          <img src="https://png.pngtree.com/element_origin_min_pic/16/08/16/1957b2f8786a777.jpg"
            alt="avatar" width="45px" height="40px" class="rounded-circle"
          />
          <img src="https://png.pngtree.com/element_origin_min_pic/16/08/16/1957b2f8786a777.jpg"
            alt="avatar" width="45px" height="40px" class="rounded-circle"
          />
          <img src="https://png.pngtree.com/element_origin_min_pic/16/08/16/1957b2f8786a777.jpg"
            alt="avatar" width="45px" height="40px" class="rounded-circle"
          />
          <img src="https://png.pngtree.com/element_origin_min_pic/16/08/16/1957b2f8786a777.jpg"
            alt="avatar" width="45px" height="40px" class="rounded-circle"
          />
        </div>
      </li>
      <li>
        <img src="../../../assets/images/list_style.png" alt="list_style" width="15px"/>
        <span class="announce-statistic__number">4</span> Units
        <ul>
          <li><span>Design Unit</span></li>
          <li><span>Division 1</span></li>
          <li><span>Division 2</span></li>
          <li><span>Division 3</span></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
