<header class="header">
  <div class="logo">
    <img src="../../../assets/images/favicon.png" alt="logo"/>
  </div>
  <!-- MOBILE -->
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

  <ul class="menu">
    <li>
      <app-select-lang></app-select-lang>
    </li>
    <li>
      <a title="Notifications">
        <img src="../../../assets/images/navbar/notice.png" alt="notice"
          width="45px"
        />
      </a>
    </li>
    <li class="current-user sub-menu-parent">
      <a class="current-user__name">
        <img src="https://png.pngtree.com/element_origin_min_pic/16/08/16/1957b2f8786a777.jpg"
          alt="avatar" width="45px" height="40px" class="rounded-circle"
        />
      </a>
      <!-- <ul class="current-user__information sub-menu">
        <li><a href="#">Sub Item 1</a></li>
         <li><a href="#">Sub Item 1</a></li>
      </ul> -->
    </li>
    <li>
      <a title="Logout">
        <img src="../../../assets/images/navbar/logout.png" alt="logout"
          width="35px"
        />
      </a>
    </li>
  </ul>
</header>
