<header class="header">
  <div class="logo"
    (click)="goToDashboard()"
  >
    <img src="../../../assets/images/favicon.png" alt="logo"/>
  </div>
  <!-- MOBILE -->
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

  <ul class="menu">
    <li>
      <app-select-lang></app-select-lang>
    </li>
    <li>
      <a title="Notifications">
        <img src="../../../assets/images/navbar/notice.png" alt="notice"
          width="45px"
        />
      </a>
    <li>
      <a class="current-user__name" title="User Information"
        (click)="goToMe()"
      >
        <img src="{{ currentUser?.avatar }}" alt="{{ currentUser?.name }}"
          alt="avatar" width="45px" height="40px" class="rounded-circle"
        />
        <span>
          <!-- Snoopy -->
          {{ currentUser?.name | titlecase }}
        </span>
      </a>
    </li>
    <li>
      <a title="Logout"
        (click)="onLogOut()"
      >
        <img src="../../../assets/images/navbar/logout.png" alt="logout"
          width="35px"
        />
      </a>
    </li>
  </ul>
</header>
