<div class="card announce"
  [ngClass]="{'announce--active' : isShowAddForm}"
>
  <div class="card-header">
    <h3 class="card-title announce__title">
      <!-- {{ 'DASHBOARD.ANNOUNCE.NAME' | translate }} -->
      Create Post
    </h3>
    <button type="button" class="close"
      *ngIf="isShowAddForm"
      (click)="toggleAddAnnounce()"
    >
      &times;
    </button>
  </div>
  <div class="card-body">
    <div class="announce-add"
      (click)="isShowAddForm = true"
    >
      <div class="announce-add__current-user">
        <img src="{{ currentUser?.avatar }}"
          alt="avatar" width="35px" height="30px" class="rounded-circle"
        />
        <span
          class="announce-add__message">
          What do you think?
        </span>
      </div>
    </div>

    <ng-container *ngIf="isShowAddForm; else closeForm">
      <div class="announce-add__content">
        <div class="announce-add__assign">
          <label for="assignTo"><b>Assign to: </b></label>
          <div class="custom-control custom-checkbox mb-3" id="assignTo">
            <input type="checkbox" class="custom-control-input" id="toAll"/>
            <label class="custom-control-label" for="toAll">
              All
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3" id="assignTo"
            *ngFor="let division of allDivisions"
          >
            <input type="checkbox" class="custom-control-input" id="{{ division._id }}"/>
            <label class="custom-control-label" for="{{ division._id }}">
              {{ division.name }}
            </label>
          </div>
        </div>
        <button class="btn btn-primary btn-block"
          (click)="toggleAddAnnounce()"
        >
          Publish
        </button>
      </div>
    </ng-container>
    <ng-template #closeForm>
      <div class="announce-add__tags">
        <span>All</span>
        <span>Design Unit</span>
        <span>Division 1</span>
        <span>Division 2</span>
        <span>Division 3</span>
        <span>. . .</span>
      </div>
    </ng-template>
  </div>
</div>
