<div class="card announce">
  <div class="card-header">
    <h3 class="card-title announce__title">Create Post</h3>
  </div>
  <div class="card-body">
    <div class="announce-add">
      <img src="https://png.pngtree.com/element_origin_min_pic/16/08/16/1957b2f8786a777.jpg"
        alt="avatar" width="45px" height="40px" class="rounded-circle"
      />
      <span class="announce-add__message">What do you think?</span>
    </div>
    <div class="announce-add__tags">
      <span>All</span>
      <span>Design Unit</span>
      <span>Division 1</span>
      <span>Division 2</span>
      <span>Division 3</span>
      <span>. . .</span>
    </div>
  </div>
</div>
