<app-search-form [title]="title">
</app-search-form>
<div class="announce">
  <!-- <router-outlet></router-outlet> -->
  <div class="row">
    <div class="col-md-8">
      <app-announce-add
        [currentUser]="currentUser"
        (addedAnnounceEventEmitter)="onAddNewAnnounce($event)"
      ></app-announce-add>
      <div class="alert alert-primary my-3 announce-msg" role="alert"
        *ngIf="keywords"
      >
        {{ allAnnounces?.length === 0 ? 'No' : allAnnounces?.length }}
        {{ allAnnounces?.length > 1 ? 'results' : 'result' }} for "<strong>{{ keywords }}</strong>"
        <button type="button" class="close" (click)="keywords = ''">
          <span>&times;</span>
        </button>
      </div>

      <ng-container *ngIf="allAnnounces?.length; else elseNoResult">
        <div class="card announce-item"
          *ngFor="let announce of allAnnounces"
        >
          <img class="announce-item__options" alt="options"
            src="../../../../assets/images/directs/options.png"
            (click)="announce.isShowDropdownOptions = !announce.isShowDropdownOptions"
            *ngIf="(currentUser.role === 'admin') || (currentUser._id === announce.createdBy._id)"
          />
          <ul class="dropdown-options"
            [ngClass]="{'d-none': !announce.isShowDropdownOptions, 'd-block': announce.isShowDropdownOptions}"
            *ngIf="!announce.isEditable"
          >
            <li (click)="announce.isEditable = !announce.isEditable">
                <img alt="edit_icon" src="../../../../assets/images/btn/edit.png" width="21px"/>
            </li>
            <li (click)="onOpenModalDelete(announce._id)">
                <img alt="edit_icon" src="../../../../assets/images/btn/trash.png" width="21px"/>
            </li>
          </ul>
          <app-modal [(visible)]="announce.isDeleteable">
            <app-announce-delete
              [announce]="announce"
              (closeFormEventEmitter)="onCloseModalDelete($event)"
            ></app-announce-delete>
          </app-modal>
          <div class="card-body"
            *ngIf="!announce.isEditable"
          >
            <div class="announce-list__title">
              <img src="{{ announce.createdBy.avatar }}"
                alt="avatar" width="35px" height="30px" class="rounded-circle"
              />
              <span class="announce-list_username">{{ announce.createdBy.name }}</span>
              <img src="../../../../assets/images/directs/next.png" width="15px"/>
              <div class="announce-list__target">
                <ng-container *ngIf="announce.assignTo?.length === 5; else notToAll">
                  <span>TO ALL</span>
                </ng-container>
                <ng-template #notToAll>
                  <span *ngFor="let division of announce.assignTo; let i = index">{{ division.name }}
                    <i *ngIf="i !== announce.assignTo.length - 1">, </i>
                  </span>
                </ng-template>
              </div>
              <!-- <span class="created-date">Posted at 16:59 | July 31, 2019</span> -->
              <span class="created-date">Posted at {{ announce.createdAt | time }}</span>
            </div>
            <div class="announce-list__content"
              [innerHTML]="announce.content"
            ></div>
            <div class="announce-list__options">
              <app-announce-item-reaction
                [announce]="announce"
              ></app-announce-item-reaction>
              <!-- <button class="btn btn-light">Comment</button> -->
              <button class="btn btn-light" disabled>Save</button>
            </div>
          </div>
          <div class="card-body"
            *ngIf="announce.isEditable"
          >
            <app-announce-edit
              [allDivisions]="allDivisions"
              [announce]="announce"
              (closeFormEventEmitter)="closeEditForm($event)"
            ></app-announce-edit>
          </div>
        </div>
      </ng-container>
      <ng-template #elseNoResult>
        <div class="card announce my-4">
          <div class="page-404 ng-star-inserted">
            <p>There's no request result.</p>
          </div>
        </div>
      </ng-template>
      <!-- <app-announce-list></app-announce-list> -->
    </div>
    <div class="col-md-4">
      <app-announce-search
        [allDivisions]="allDivisions"
      ></app-announce-search>
      <!-- <app-statistic-info></app-statistic-info> -->
    </div>
  </div>
</div>
