<div class="card announce-item">
  <div class="card-body">
    <div class="announce-list">
      <div class="announce-list__title">
        <img src="https://png.pngtree.com/element_origin_min_pic/16/08/16/1957b2f8786a777.jpg"
          alt="avatar" width="45px" height="40px" class="rounded-circle"/>
        <span class="announce-list_username">Totoro Chan</span>
        <img src="../../../../assets/images/directs/next.png" width="15px"/>
        <div class="announce-list__target">
          <span>Design Unit</span>,
          <span>Division 2</span>
        </div>
      </div>
      <div class="announce-list__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea temporibus, ipsam, voluptatibus repellendus omnis minima iusto veniam aperiam eum quidem, at error ullam assumenda ad. Quod esse corporis ab alias.
      </div>
      <div class="announce-list__options">
        <button class="btn btn-light">Reaction</button>
        <!-- <button class="btn btn-light">Comment</button> -->
        <button class="btn btn-light">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="card announce-item">
  <div class="card-body">
    <div class="announce-list">
      <div class="announce-list__title">
        <img src="https://png.pngtree.com/element_origin_min_pic/16/08/16/1957b2f8786a777.jpg"
          alt="avatar" width="45px" height="40px" class="rounded-circle"/>
        <span class="announce-list_username">Totoro Chan</span>
        <img src="../../../../assets/images/directs/next.png" width="15px"/>
        <div class="announce-list__target">
          <span>Design Unit</span>,
          <span>Division 2</span>
        </div>
      </div>
      <div class="announce-list__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea temporibus, ipsam, voluptatibus repellendus omnis minima iusto veniam aperiam eum quidem, at error ullam assumenda ad. Quod esse corporis ab alias.
      </div>
      <div class="announce-list__options">
        <button class="btn btn-light">Reaction</button>
        <!-- <button class="btn btn-light">Comment</button> -->
        <button class="btn btn-light">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="card announce-item">
  <div class="card-body">
    <div class="announce-list">
      <div class="announce-list__title">
        <img src="https://png.pngtree.com/element_origin_min_pic/16/08/16/1957b2f8786a777.jpg"
          alt="avatar" width="45px" height="40px" class="rounded-circle"/>
        <span class="announce-list_username">Totoro Chan</span>
        <img src="../../../../assets/images/directs/next.png" width="15px"/>
        <div class="announce-list__target">
          <span>Design Unit</span>,
          <span>Division 2</span>
        </div>
      </div>
      <div class="announce-list__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea temporibus, ipsam, voluptatibus repellendus omnis minima iusto veniam aperiam eum quidem, at error ullam assumenda ad. Quod esse corporis ab alias.
      </div>
      <div class="announce-list__options">
        <button class="btn btn-light">Reaction</button>
        <!-- <button class="btn btn-light">Comment</button> -->
        <button class="btn btn-light">Save</button>
      </div>
    </div>
  </div>
</div>
