<app-search-form [title]="title">
</app-search-form>
<div class="user-add">
  <div class="row">
    <div class="col-md-3">
      <div class="card user-preview">
        <div class="card-header">
          <h3 class="col-title">Preview</h3>
        </div>
        <div class="card-body">
          <div class="avatar">
            <img src="{{ addUser.value?.avatar }}" alt="avatar" class="rounded-circle"/>
          </div>
          <h5 class="card-title">{{ addUser.value?.name ? addUser.value?.name : 'Name'}}</h5>
          <ul class="user-information">
            <li>Email:<span>{{ addUser.value?.email }}</span> </li>
            <li>Password:<span>{{ addUser.value?.password | hideKey }}</span></li>
            <li>Position:<span>{{ addUser.value?.position }}</span></li>
            <li>Division:<span>{{ addUser.value?.division | division }}</span></li>
            <li>Role:<span>{{ addUser.value?.role }}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
        <div class="card user-preview">
          <div class="card-header">
              <h3 class="col-title">Create User</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="addUser" class="user-edit-form"
              (ngSubmit)="onAddUser()"
            >
              <div class="left mr-md-3">
                <div class="col-item">
                  <label class="sr-only" for="name">Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Name</div>
                    </div>
                    <input type="text" class="form-control" id="name"
                      formControlName="name"
                    >
                  </div>
                  <div *ngIf="addUser.controls['name'].errors && !addUser.controls['name'].pristine" class="error-msg">
                    <div [hidden]="!addUser.controls['name'].errors.required">
                      This field is required
                    </div>
                    <div [hidden]="!addUser.controls['name'].errors.patternInvalid">
                      This field is invalid
                    </div>
                  </div>
                </div>
                <div class="col-item">
                  <label class="sr-only" for="email">Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Email</div>
                    </div>
                    <input type="text" class="form-control" id="email"
                      formControlName="email"
                    >
                  </div>
                  <div *ngIf="addUser.controls['email'].errors && !addUser.controls['email'].pristine" class="error-msg">
                    <div [hidden]="!addUser.controls['email'].errors.required">
                      This field is required
                    </div>
                    <div [hidden]="!addUser.controls['email'].errors.patternInvalid">
                      This field is invalid
                    </div>
                  </div>
                </div>
                <div class="col-item">
                  <label class="sr-only" for="password">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Password</div>
                    </div>
                    <input type="password" class="form-control" id="password"
                    formControlName="password"
                    >
                  </div>
                  <div *ngIf="addUser.controls['password'].errors && !addUser.controls['password'].pristine" class="error-msg">
                    <div [hidden]="!addUser.controls['password'].errors.required">
                      This field is required
                    </div>
                    <div [hidden]="!addUser.controls['password'].errors.minLength">
                      This field must have at least  6 words
                    </div>
                  </div>
                </div>
                <div class="col-item">
                  <label class="sr-only" for="re_password">Confirm password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Confirm password</div>
                    </div>
                    <input type="password" class="form-control" id="re_password"
                      #re_password
                      (keyup)="checkConfirmPassword(re_password.value)"
                      [disabled]="addUser.controls['password'].errors || addUser.controls['password'].pristine"
                      (click)="onClickRePassword()"
                    />
                  </div>
                  <div *ngIf="re_password.value.length !== 0" class="error-msg"
                    [ngStyle]="{'color': isSuccessfullyConfirmPassword ? '#008000bd' : '#da4f4fbf' }"
                  >
                    {{ isSuccessfullyConfirmPassword ?
                      'Hur·rah ! Confirm successfully' :
                      'Oops! Please re-enter password'
                    }}
                  </div>
                </div>
              </div>
              <div class="right ml-md-3">
                <div class="col-item">
                  <label class="sr-only" for="avatar">Avatar</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Avatar</div>
                    </div>
                    <input type="url" class="form-control" id="avatar"
                      formControlName="avatar"
                    >
                  </div>
                  <div *ngIf="addUser.controls['avatar'].errors && !addUser.controls['avatar'].pristine" class="error-msg">
                    <div [hidden]="!addUser.controls['avatar'].errors.required">
                      This field is required
                    </div>
                    <div [hidden]="!addUser.controls['avatar'].errors.patternInvalid">
                      This field is invalid
                    </div>
                  </div>
                </div>
                <div class="col-item">
                  <label class="sr-only" for="position">Position</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Position</div>
                    </div>
                    <input type="text" class="form-control" id="position"
                      formControlName="position"
                    >
                  </div>
                  <div *ngIf="addUser.controls['position'].errors && !addUser.controls['position'].pristine" class="error-msg">
                    <div [hidden]="!addUser.controls['position'].errors.required">
                      This field is required
                    </div>
                    <div [hidden]="!addUser.controls['position'].errors.patternInvalid">
                      This field is invalid
                    </div>
                  </div>
                </div>
                <div class="form-group item form-group--custom">
                  <label class="sr-only" for="exampleInputPassword1">Division</label>
                  <select class="custom-select"
                    formControlName="division"
                  >
                    <option *ngFor="let div of allDivisions" value="{{ div._id }}">{{ div.name }}</option>
                  </select>
                  <div *ngIf="addUser.controls['division'].errors && !addUser.controls['division'].pristine" class="error-msg">
                    <div [hidden]="!addUser.controls['division'].errors.required">
                      This field is required
                    </div>
                    <div [hidden]="!addUser.controls['division'].errors.patternInvalid">
                      This field is invalid
                    </div>
                  </div>
                </div>
                <div class="form-group item form-group--custom">
                  <label class="sr-only">Role</label>
                  <select class="custom-select"
                    formControlName="role"
                  >
                    <option value="admin">Admin</option>
                    <option value="staff">Staff</option>
                  </select>
                  <div *ngIf="addUser.controls['role'].errors && !addUser.controls['role'].pristine" class="error-msg">
                    <div [hidden]="!addUser.controls['role'].errors.required">
                      This field is required
                    </div>
                    <div [hidden]="!addUser.controls['role'].errors.patternInvalid">
                      This field is invalid
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="buttons">
              <button class="btn btn-light cancel-btn"
                type="button"
                (click)="backToUserManager()"
              >
                Cancel
                <!-- <img width="25px" src="../../../../assets/images/btn/cancel.png" alt="cancel_icon"/> -->
              </button>
              <button class="btn btn-success cancel-btn"
                (click)="onAddUser()"
                [disabled]="!(addUser.valid && isSuccessfullyConfirmPassword)"
              >
                Add
                <!-- <img width="25px" src="../../../../assets/images/btn/check.png" alt="check_icon"/> -->
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
