<div class="login">
  <div class="login__layer"></div>
  <div class="login__form">
    <h3 class="form__title my-4">
      {{ 'LOGIN.TITLE' | translate }}
    </h3>
    <form [formGroup]="loginUser"
      (ngSubmit)="onLogin()"
    >
      <div class="col-auto p-0 my-4">
        <label class="sr-only" for="inlineFormInputGroup">
          {{ 'LOGIN.EMAIL' | translate }}
        </label>
        <div class="input-group mb-2"
          [ngClass]="{'error': loginUser.controls['email'].errors && !loginUser.controls['email'].pristine}"
        >
          <div class="input-group-prepend">
            <div class="input-group-text">
              {{ 'LOGIN.EMAIL' | translate }}
            </div>
          </div>
          <input autocomplete type="email" class="form-control"
            formControlName="email"
          />
        </div>
        <div *ngIf="loginUser.controls['email'].errors && !loginUser.controls['email'].pristine" class="error-msg">
          <div [hidden]="!loginUser.controls['email'].errors.required">
            {{ 'LOGIN.EMAIL' | translate }}
            {{ 'LOGIN.MESS_ERROR.REQUIRED' | translate }}
          </div>
          <div [hidden]="!loginUser.controls['email'].errors.patternInvalid">
            {{ 'LOGIN.EMAIL' | translate }}
            {{ 'LOGIN.MESS_ERROR.INVALID' | translate }}
          </div>
        </div>
      </div>
      <div class="col-auto p-0 my-4">
        <label class="sr-only" for="inlineFormInputGroup">
          {{ 'LOGIN.PASSWORD' | translate }}
        </label>
        <div class="input-group mb-2"
          [ngClass]="{'error': loginUser.controls['password'].errors && !loginUser.controls['password'].pristine}"
        >
          <div class="input-group-prepend">
            <div class="input-group-text">
              {{ 'LOGIN.PASSWORD' | translate }}
            </div>
          </div>
          <input autocomplete type="password" class="form-control"
            formControlName="password"
          />
        </div>
        <div *ngIf="loginUser.controls['password'].errors && !loginUser.controls['password'].pristine"
          class="error-msg"
        >
          <div [hidden]="!loginUser.controls['password'].errors.required">
            {{ 'LOGIN.PASSWORD' | translate }}
            {{ 'LOGIN.MESS_ERROR.REQUIRED' | translate }}
          </div>
          <div [hidden]="!loginUser.controls['password'].errors.patternInvalid">
              {{ 'LOGIN.PASSWORD' | translate }}
              {{ 'LOGIN.MESS_ERROR.INVALID' | translate }}
          </div>
        </div>
      </div>
      <div class="col-auto col-auto-custom custom-control custom-checkbox my-1 pr-0">
        <div>
            <input type="checkbox" class="custom-control-input" id="customControlInline">
            <label class="custom-control-label" for="customControlInline">
                {{ 'LOGIN.REMEMBER_ME' | translate }}
            </label>
        </div>
        <app-select-lang></app-select-lang>
      </div>
      <div class="col-auto p-0 my-4">
        <button type="reset" class="btn btn-primary mb-2 btn-block"
          [disabled]="!loginUser.valid"
          (click)="onLogin()"
        >
          {{ 'LOGIN.TITLE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
