<app-search-form [title]="title"
  (getKeywordsEventEmitter)="getKeywords($event)">
</app-search-form>
<div class="announce">
  {{ keywords }}
  <!-- <router-outlet></router-outlet> -->
  <div class="row">
    <div class="col-md-8">
      <button (click)="openModal()">
        <img src="../../../../assets/images/add_new.png" alt="add_new"/>
      </button>
      <app-request-add [(visible)]="isShowModal"
      >
      </app-request-add>
      <app-request-list></app-request-list>
    </div>
    <div class="col-md-4">
      <app-statistic-info></app-statistic-info>
    </div>
  </div>
</div>
