<app-search-form [title]="title">
</app-search-form>
<div class="announce">
  <!-- <router-outlet></router-outlet> -->
  <div class="row">
    <div class="col-md-12">
      <button (click)="openModal()"
        *ngIf="!isAdmin"
      >
        <img src="../../../../assets/images/add_new.png" alt="add_new"/>
      </button>
      <app-request-add [(visible)]="isShowModal"
        (addedRequestEventEmitter)="onAddedRequest($event)"
      >
      </app-request-add>
      <app-request-list
        [allRequests]="allRequests"
        [isAdmin]="isAdmin"
      ></app-request-list>
    </div>
    <!-- <div class="col-md-4">
      <app-statistic-info></app-statistic-info>
    </div> -->
  </div>
</div>
