<form [formGroup]="editAnnounce"
  (ngSubmit)="onEditAnnounce()"
>
  <div class="announce-add__current-user">
    <img alt="avatar" class="rounded-circle" height="30px" width="35px"
      src="{{ announce.createdBy.avatar }}"
    >
  </div>
  <div class="announce-edit__assign">
    <label for="assignTo"><b>TO: </b></label>
    <div class="custom-control custom-checkbox mb-3" id="assignTo">
      <input type="checkbox" class="custom-control-input" id="toAll"
        [checked]="hasSelectAll"
        (change)="onChangeCheckBoxAllDivision()"
      />
      <label class="custom-control-label" for="toAll">
        All
      </label>
    </div>
    <div class="custom-control custom-checkbox mb-3" id="assignTo"
      *ngFor="let division of allDivisions"
    >
      <input type="checkbox" class="custom-control-input" id="{{ division._id }}"
        [checked]="division.isSelected"
        (change)="onChangeCheckBoxDivision(division._id)"
      />
      <label class="custom-control-label" for="{{ division._id }}">
        {{ division.name }}
      </label>
    </div>
  </div>
  <!-- You must be choose AT LEAST 1 division -->
  <ckeditor [editor]="decoupledEditor"
    [data]="announce.content"
    formControlName="content"
    (ready)="onReady($event)"
  ></ckeditor>
  <div class="buttons">
    <button class="btn btn-light"
      (click)="closeEditForm()"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-primary"
      [disabled]="editAnnounce.invalid"
    >
      <img alt="save_icon" src="../../../../assets/images/btn/save.png" width="25px">
      Save
    </button>
  </div>
</form>
