.announce-edit__assign {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 48em) {
  .announce-edit__assign {
    display: block;
  }
}

.announce-add__current-user {
  border-bottom: 1px solid #80808047;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
