<ng-container *ngIf="allRequests?.length; else noRequestResult">
  <table class="table table-striped table-bordered table-hover table-responsive request-list">
    <thead>
      <tr>
        <th scope="col" rowSpan="2">
          <div class="col-auto p-0">
            No.
            <!-- <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlAutosizing"/>
              <label class="custom-control-label" for="customControlAutosizing"> No.</label>
            </div> -->
          </div>
        </th>
        <th scope="col" rowSpan="2">Name</th>
        <th scope="col" rowSpan="2">Created at</th>
        <th scope="col" rowSpan="2">Type</th>
        <th scope="col" rowSpan="2">Time Request</th>
        <th scope="col" rowSpan="2">Reason</th>
        <th scope="col" colSpan="2">Compensation</th>
        <th scope="col" rowSpan="2">Status</th>
        <th scope="col" rowSpan="2">Options</th>
      </tr>
      <tr>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of allRequests; let i = index">
        <th scope="row">
          {{ i + 1 }}
          <!-- <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{{ request._id }}"
              [checked]="request.hasChecked"
            />
            <label class="custom-control-label" for="{{ request._id }}">{{ i + 1 }}</label>
          </div> -->
        </th>
        <td>
          <a class="user" [routerLink]="['/dashboard', 'users', request.createdBy._id]">
            <img alt="avatar" class="rounded-circle" height="30px" width="35px"
              src="{{ request.createdBy.avatar }}"
            />
            <strong>{{ request.createdBy.name }}</strong>
          </a>
        </td>
        <td>{{ request.createdAt | time }}</td>
        <td>
          <span *ngIf="request.type === 'in_late'" class="badge badge-info">{{ request.type | type }}</span>
          <span *ngIf="request.type === 'leave_early'" class="badge badge-warning">{{ request.type | type }}</span>
          <span *ngIf="request.type === 'off'" class="badge badge-secondary">{{ request.type | type }}</span>
          <span *ngIf="request.type === 'resign'" class="badge badge-danger">{{ request.type | type }}</span>
        </td>
        <td>{{ request.checkTime | time }}</td>
        <td>{{ request.reason }}</td>
        <td>{{ request.compensationFromTime | time }}</td>
        <td>{{ request.compensationToTime | time }}</td>
        <td>
          <select class="custom-select request-list-select"
            [ngClass]="(request.status=='pending')?'pending': ((request.status=='approved')? 'approved': 'rejected')"
            [value]="request.status"
            [disabled]="!isAdmin"
            (change)="handleStatusChange(request._id, $event)"
          >
            <option value="pending">Pending</option>
            <option value="approved">Approve</option>
            <option value="rejected">Reject</option>
          </select>
        </td>
        <td>
          <div class="options">

            <button class="edit-user-btn"
              (click)="openModalSeeDetail(request._id)"
            >
              <img alt="preview_icon" src="../../../../assets/images/btn/preview.png" width="25px">
            </button>
            <app-request-detail
              *ngIf="request.hasSeeDetail"
              [(visible)]="isShowModalDetail"
              [request]="request"
            >
            </app-request-detail>

            <ng-container *ngIf="!isAdmin">
              <button class="edit-user-btn"
                [ngClass]="{'d-none': request.status !== 'pending'}"
                (click)="openModalEdit(request._id)"
              >
                <img alt="edit_icon" src="../../../../assets/images/btn/edit.png" width="21px"/>
              </button>
              <app-request-edit
                *ngIf="request.hasEditted"
                [(visible)]="isShowModal"
                [editRequest]="request"
                (editedRequestEventEmitter)="onEditRequest($event)"
              >
              <!-- (editedRequestE) -->
              </app-request-edit>
            </ng-container>

            <button class="delete-user-btn"
              (click)="handleClickDeleteBtn(request._id)"
            >
              <img alt="trash_icon" src="../../../../assets/images/btn/trash.png" width="25px"/>
            </button>
            <div class="deleteForm" *ngIf="request.hasDisplayDeleteForm">
              <app-modal [(visible)]="request.hasDisplayDeleteForm">
                <app-request-delete [request]="request"
                  (closeFormEventEmitter)="onCloseModalDelete($event)"
                ></app-request-delete>
              </app-modal>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #noRequestResult>
  <div class="page-404">
    <!-- <img src="https://foxythemes.net/preview/products/beagle/assets/img/404-bg.png" alt="404"/> -->
    <p>There's no request result.</p>
  </div>
</ng-template>

