/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat', sans-serif !important;
}

ul li a, ul li {
  cursor: pointer;
}

button, button:hover, button:active, button:focus,
a, a:hover, a:active, a:focus {
  outline: none;
}
