<section class="statistic-wrap">
  <div class="statistic">
    <img class="statistic__img" src="../../../../assets/images/statistic/project.png" height="48px"  alt="statistic-icon"/>
    <p class="statistic__title"><span>25</span>++ projects</p>
  </div>
  <div class="statistic">
    <img class="statistic__img" src="../../../../assets/images/statistic/customer.png" height="48px"  alt="statistic-icon"/>
    <p class="statistic__title"><span>08</span>++ customers</p>
  </div>
  <div class="statistic">
    <img class="statistic__img" src="../../../../assets/images/statistic/exp.png" height="48px" alt="statistic-icon"/>
    <p class="statistic__title"><span>05</span>++ years</p>
  </div>
  <div class="statistic">
    <img class="statistic__img" src="../../../../assets/images/statistic/nation.png" height="48px" alt="statistic-icon"/>
    <p class="statistic__title"><span>02</span>++ nations</p>
  </div>
  <div class="statistic">
    <img class="statistic__img" src="../../../../assets/images/statistic/members.png" height="48px" alt="statistic-icon"/>
    <p class="statistic__title"><span>50</span>++ members</p>
  </div>
</section>
<section class="directions">
  <div class="direction__item annoucement">
    <h3 class="item__title">
      <img src="../../../../assets/images/routes/announce_card.png" alt="announce-icon"/>
      Annoucements
    </h3>
    <p class="item__description">
      Là kênh liên lạc, trao đổi, thông báo, đóng góp ý kiến... chính thức giữa các thành viên trong công ty. Hoặc từ công ty đến các thành viên.
    </p>
    <button class="item__btn">
      Go there
      <img src="../../../../assets/images/directs/next.png" width="15px"/>
    </button>
  </div>
  <div class="direction__item request">
    <h3 class="item__title">
      <img src="../../../../assets/images/routes/request_card.png" alt="request-icon"/>
      Requests
    </h3>
    <p class="item__description">
      Là kênh liên lạc, trao đổi, thông báo, đóng góp ý kiến... chính thức giữa các thành viên trong công ty. Hoặc từ công ty đến các thành viên.
    </p>
    <button class="item__btn">
      Go there
      <img src="../../../../assets/images/directs/next.png" width="15px"/>
    </button>
  </div>
</section>
