<form [formGroup]="editUser" class="user-edit-form"
  (ngSubmit)="saveEditUser()"
>
  <div class="top">
    <div class="col-sm-3 item my-1 form-group--custom">
      <label class="sr-only" for="id">ID</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">ID</div>
        </div>
        <input type="text" class="form-control" id="id"
          formControlName="id"
        />
      </div>
    </div>
    <div class="col-sm-3 item my-1 form-group--custom">
      <label class="sr-only" for="name">Name</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Name</div>
        </div>
        <input type="text" class="form-control" id="name"
          formControlName="name"
        >
      </div>
      <div *ngIf="editUser.controls['name'].errors && !editUser.controls['name'].pristine" class="error-msg">
        <div [hidden]="!editUser.controls['name'].errors.required">
          This field is required
        </div>
        <div [hidden]="!editUser.controls['name'].errors.patternInvalid">
          This field is invalid
        </div>
      </div>
    </div>
    <div class="col-sm-3 item my-1 form-group--custom">
      <label class="sr-only" for="email">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Email</div>
        </div>
        <input type="text" class="form-control" id="email"
          formControlName="email"
        >
      </div>
      <div *ngIf="editUser.controls['email'].errors && !editUser.controls['email'].pristine" class="error-msg">
        <div [hidden]="!editUser.controls['email'].errors.required">
          This field is required
        </div>
        <div [hidden]="!editUser.controls['email'].errors.patternInvalid">
          This field is invalid
        </div>
      </div>
    </div>
    <div class="col-sm-3 item my-1 form-group--custom">
      <label class="sr-only" for="password">Password</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Password</div>
        </div>
        <input type="password" class="form-control" id="password"
        formControlName="password"
        >
      </div>
      <div *ngIf="editUser.controls['password'].errors && !editUser.controls['password'].pristine" class="error-msg">
        <div [hidden]="!editUser.controls['password'].errors.required">
          This field is required
        </div>
        <div [hidden]="!editUser.controls['password'].errors.patternInvalid">
          This field is invalid
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="col-sm-3 item my-1 form-group--custom">
      <label class="sr-only" for="avatar">Avatar</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Avatar</div>
        </div>
        <input type="url" class="form-control" id="avatar"
          formControlName="avatar"
        >
      </div>
      <div *ngIf="editUser.controls['avatar'].errors && !editUser.controls['avatar'].pristine" class="error-msg">
        <div [hidden]="!editUser.controls['avatar'].errors.required">
          This field is required
        </div>
        <div [hidden]="!editUser.controls['avatar'].errors.patternInvalid">
          This field is invalid
        </div>
      </div>
    </div>
    <div class="col-sm-3 item my-1 form-group--custom">
      <label class="sr-only" for="position">Position</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Position</div>
        </div>
        <input type="text" class="form-control" id="position"
          formControlName="position"
        >
      </div>
      <div *ngIf="editUser.controls['position'].errors && !editUser.controls['position'].pristine" class="error-msg">
        <div [hidden]="!editUser.controls['position'].errors.required">
          This field is required
        </div>
        <div [hidden]="!editUser.controls['position'].errors.patternInvalid">
          This field is invalid
        </div>
      </div>
    </div>
    <div class="form-group item form-group--custom">
      <label class="sr-only" for="exampleInputPassword1">Division</label>
      <select class="custom-select"
        formControlName="division"
      >
        <option *ngFor="let div of allDivisions" value="{{ div._id }}">{{ div.name }}</option>
      </select>
      <div *ngIf="editUser.controls['division'].errors && !editUser.controls['division'].pristine" class="error-msg">
        <div [hidden]="!editUser.controls['division'].errors.required">
          This field is required
        </div>
        <div [hidden]="!editUser.controls['division'].errors.patternInvalid">
          This field is invalid
        </div>
      </div>
    </div>
    <div class="form-group item form-group--custom">
      <label class="sr-only">Role</label>
      <select class="custom-select"
        formControlName="role"
      >
        <option value="admin">Admin</option>
        <option value="staff">Staff</option>
      </select>
      <div *ngIf="editUser.controls['role'].errors && !editUser.controls['role'].pristine" class="error-msg">
        <div [hidden]="!editUser.controls['role'].errors.required">
          This field is required
        </div>
        <div [hidden]="!editUser.controls['role'].errors.patternInvalid">
          This field is invalid
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-light cancel-btn"
      type="button"
      (click)="closeEditForm()"
    >
      <img width="25px" src="../../../../assets/images/btn/cancel.png" alt="cancel_icon"/>
      Cancel
    </button>
    <button class="btn btn-success save-btn"
      type="submit"
      [disabled]="editUser.invalid"
    >
      <img width="25px" src="../../../../assets/images/btn/save.png" alt="save_icon"/>
      Save
    </button>
  </div>
</form>
